* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    margin-top: 7em;
    display: grid;
    grid-template-columns: 1fr;

}

.image img {
    width: 400px;
    background-color: aquamarine;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.box {
    background-color:aliceblue;
    position: relative;
    margin-top: 2em;
    height: 30px;
    width: 60px;
    cursor: pointer;


}

.box::after {
    position: absolute;
    content: "";
    height: 35px;
    width: 65px;
}